body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

/* Utility */

.container {
  margin: auto;
  max-width: 600px;
  overflow: auto;
  padding: 0 20px;
  padding-top: 20px;
  overflow: hidden;
}


.test {
  /* rgb(185, 185, 48); */
  color: #ededf8;
  background-color: #515866 ;
  column-rule: #8ec39f;
}



/* Header */

.region-select {
  width: 100%;
  height: 40px;
  border: 1px solid;
}

.logo img {
  height: 80px;
  border-radius: 50%;
}

.header .container {
  display: flex;
  color: #515866;
}

.header h1 {
  padding-left: 20px;
}

/* Content */
.region-select {
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  height: 50px;
  color: #515866 ;
}

.region-select :s {
  border: none;
}

.region-select option {
  background-color: #ededf8;
}

.region-title {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 1.5rem;
  color: #515866 ;
}

.content .selection {
  display: flex;
  align-items: center
}

.selection {
  border-radius: 5px;
  border: 2px solid  #515866;
}

/* Uploader */

.uploader {
  text-align: center;
  font-size: 1.5rem;
  color: #515866;
  overflow: hidden;
}

input[type="file"] {
  display: none;
}



.file-label {
  border: 2px solid  #515866;
  display: inline-block;
  padding: 12px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.image-preview {
  padding-top: 10px;
}


.image-preview img {
  padding-top: 10px;
  width: 200px;
  margin: auto;
}

.result {
  text-align: center;
}

.resultfish {
  font-size: 1.2rem;
}

.loader {
  color: #8ec39f;
  overflow: hidden;
}

/* p {
  font-size: 0.8rem;
}



.selection input {
  padding: 20px;
}

.resultfish {
  padding: 20px;
}

.loader {
  color: greenyellow;
}

.spicies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.spicies-element{
  padding-left: 5px;
  flex: auto;
} */